nodered.json
[{"id":"2e2f5ada.d1d0a6","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"cdbd77de.324288","type":"mqtt in","name":"landing/motion/start","topic":"landing/motion/start","broker":"2e2f5ada.d1d0a6","x":114,"y":93,"z":"5ac88f3b.a5377","wires":[["7e11b6e7.81ee48"]]},{"id":"b85cb588.47a348","type":"mqtt out","name":"stairs/lights/cmd:fadein","topic":"stairs/lights/cmd:fadein","qos":"","retain":"","broker":"2e2f5ada.d1d0a6","x":664,"y":52,"z":"5ac88f3b.a5377","wires":[]},{"id":"a0200acc.5fdff8","type":"mqtt out","name":"stairs/lights/cmd:fadeout","topic":"stairs/lights/cmd:fadeout","qos":"","retain":"","broker":"2e2f5ada.d1d0a6","x":687,"y":168,"z":"5ac88f3b.a5377","wires":[]},{"id":"c0789413.3f8768","type":"mqtt out","name":"stairs/lights/cmd:lineardown","topic":"stairs/lights/cmd:lineardown","qos":"0","retain":"false","broker":"2e2f5ada.d1d0a6","x":582,"y":261,"z":"5ac88f3b.a5377","wires":[]},{"id":"98692939.6796d8","type":"inject","name":"6:30pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 18 * * 1,2,3,4,5","once":false,"x":134,"y":378,"z":"5ac88f3b.a5377","wires":[["636e389f.9c91c8"]]},{"id":"636e389f.9c91c8","type":"mqtt out","name":"stairs/lights/cmd:linearup","topic":"stairs/lights/cmd:linearup","qos":"","retain":"","broker":"2e2f5ada.d1d0a6","x":611,"y":383,"z":"5ac88f3b.a5377","wires":[]},{"id":"fed69128.01297","type":"mqtt in","name":"landing/motion/stop","topic":"landing/motion/stop","broker":"2e2f5ada.d1d0a6","x":101,"y":157,"z":"5ac88f3b.a5377","wires":[["e2ad3866.1d52c8"]]},{"id":"47f575fa.b80a8c","type":"delay","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":452,"y":154,"z":"5ac88f3b.a5377","wires":[["a0200acc.5fdff8"]]},{"id":"2f62556c.d09daa","type":"inject","name":"7am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 1,2,3,4,5","once":false,"x":100,"y":267,"z":"5ac88f3b.a5377","wires":[["c0789413.3f8768"]]},{"id":"e1f926c8.1e06d8","type":"inject","name":"7pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 19 * * *","once":false,"x":388,"y":223,"z":"5ac88f3b.a5377","wires":[["a0200acc.5fdff8"]]},{"id":"7e11b6e7.81ee48","type":"function","name":"night-time","func":"var hours = new Date().getHours();\nif (hours < 7 || hours >= 19) {\n  return [msg, null];\n} else {\n  return [null, msg];\n}","outputs":"2","valid":true,"x":374,"y":49,"z":"5ac88f3b.a5377","wires":[["b85cb588.47a348"],[]]},{"id":"e2ad3866.1d52c8","type":"function","name":"night-time","func":"var hours = new Date().getHours();\nif (hours < 7 || hours >= 19) {\n  return [msg, null];\n} else {\n  return [null, msg];\n}","outputs":"2","valid":true,"x":276,"y":159,"z":"5ac88f3b.a5377","wires":[["47f575fa.b80a8c"],[]]},{"id":"81695bae.7e96a8","type":"mqtt in","name":"landing/motion/online","topic":"landing/motion/online","broker":"2e2f5ada.d1d0a6","x":113,"y":213,"z":"5ac88f3b.a5377","wires":[["a0200acc.5fdff8"]]},{"id":"bdd59952.422a68","type":"inject","name":"9am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 9 * * *","once":false,"x":118,"y":316,"z":"5ac88f3b.a5377","wires":[["f761030e.089f"]]},{"id":"f761030e.089f","type":"mqtt out","name":"stairs/lights/cmd:bounce","topic":"stairs/lights/cmd:bounce","qos":"0","retain":"false","broker":"2e2f5ada.d1d0a6","x":574,"y":330,"z":"5ac88f3b.a5377","wires":[]}]
